@use 'colors'

@mixin flex-col($gap: '3px')
  display: flex
  flex-flow: column wrap
  @if $gap != 0
    gap: #{$gap}em

%input-def
  padding: 12px
  border:  1px solid colors.$medium-grey
  border-radius: 6px

%label-def
  font-size: 0.89rem
  color: colors.$dark-grey

%asterisk-def
  font-size: 0.8rem
  margin-inline-start: 5px
  color: colors.$green

@keyframes show
  0%
    opacity: 0
    left: 18px

  100%
    opacity: 1
    left: 0

.success-check
  position: fixed
  z-index: 1
  width: 100%
  height: 100%
  display: grid
  left: 0
  place-content: center
  background-color:  #24242427
  > div
    background-color: colors.$dark-grey
    border-radius: 9px
    padding: 2em
    color: colors.$white
    position: relative
    animation: 1s ease-in forwards show
    b
      display: flex
      align-items: center
      gap: 9px
    p
      font-size: 0.8rem
      margin-block-start: 1em
      color: colors.$light-grey

form
  background-color: colors.$white
  width: 100%
  max-width: 700px
  margin-inline: auto
  margin-block-start: 1em
  padding: 2em 1.5em
  border-radius: 6px
  color: colors.$green

  .sub-heading
    font-size: 0.8rem
    margin-block-start: 9px
    margin-block-end: 2em
    color: colors.$dark-grey
    strong > span
      @extend %asterisk-def

  label
    @extend %label-def
  
  .text-errors
    color: colors.$red
    font-size: 0.85rem
    // margin-block-start: 3px
  
  .contact-container
    container: contact-details / inline-size
    .contact-info
      display: grid
      gap: 0.8em
      margin-block-start: 1.2em
      .field
        @include flex-col(0.5)
        span
          @extend %asterisk-def
        input
          @extend %input-def
        input[type=email]
          width: 100%
        input:focus
          outline: 1px solid colors.$green
  @container contact-details (min-width: 400px)
    .contact-info
      grid-template-areas: '. .' 'email email' 
      .field:nth-child(3)
          grid-area: email
        
  .query
    @include flex-col(1)
    margin-block-start: 1.2em
    .query-type-heading
      @extend %label-def
      span
        @extend %asterisk-def
    .query-type
      display: flex
      gap: 1em
      flex-wrap: wrap
      justify-content: space-between
      label
        @extend %input-def
        display: flex
        align-items: center
        padding: 12px
        gap: 0.6em
        position: relative
        min-width: 200px
        flex: 1
        input
          appearance: none
          border-radius: 50%
          width: 16px
          height: 16px
          border: 1px solid colors.$green
      label:before
        content: url('images/icon-radio-selected.svg')
        position: absolute
        top: 12px
        left: 12px
        visibility: hidden
      label:has(input:checked):before
        visibility: visible
    .query-type-message
      label > span
        @extend %asterisk-def
      textarea
        margin-block-start: 6px
        border: 1px solid colors.$medium-grey
        border-radius: 9px
        resize: none
        width: 100%
        padding: 1em
      textarea:focus
        outline: 1px solid colors.$green
  
  .consent
    label
      display: flex
      align-content: center
      gap: 9px
      position: relative
      top: 6px
      input
        appearance: none
        border-radius: 3px
        width: 16px
        height: 16px
        border: 1px solid colors.$green
      span
        @extend %asterisk-def
    label:before
      content: url('images/icon-checkbox-check.svg')
      position: absolute
      top: 0
      left: 0
      visibility: hidden
    label:has(input:checked):before
      visibility: visible
  
  button[type=submit]
    appearance: none
    border: none
    border-radius: 9px
    width: 100%
    margin-block-start: 1.9em
    background-color: colors.$green
    color: colors.$white
    font-weight: bold
    padding: 1em
    font-size: 1rem
    text-transform: capitalize
    cursor: pointer
    transition: 0.2s background-color linear
    &:hover
      background-color: hsl(169, 82%, 10%)