---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/Form';
---

<Layout title="Contact Us">
	<main style='padding-block-end: 2em;'>
		<ContactForm client:load />
	</main>
</Layout>
