---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="contact form" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global lang="sass">
	@use 'src/styles/colors'

	@font-face
		font-family: 'Karla'
		src: url('/fonts/Karla-VariableFont_wght.ttf') format('ttf')
		font-weight: 400

	*, *::before, *::after
		box-sizing: border-box
		margin: 0
		padding: 0

	body
		display: grid
		align-content: center
		padding-inline: 1em
		font-family: 'Karla', sans-serif
		min-height: 100svh
		background-color: colors.$light-green
</style>